<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- The core Firebase JS SDK is always required and must be listed first -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
        <%# <link rel="stylesheet" href="css/style.css" /> %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyA_rt6-TJ8ql9YVoaKiFEtk87ZjiN1x3bc",
        authDomain: "scrapto.firebaseapp.com",
        databaseURL: "https://scrapto.firebaseio.com",
        projectId: "scrapto",
        storageBucket: "scrapto.appspot.com",
        messagingSenderId: "244152573409",
        appId: "1:244152573409:web:2dac5e1da3b7bbc9"
      };
      
      firebase.initializeApp(firebaseConfig);
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <h1>Login</h1>
      <h3 id="google-displayName"></h3>
            <img id="google-pic" src="" />
            <p id="google-email"></p>
            <button 
                class="btn btn-primary"
                id="google-signin" 
                onclick={signInWithGoogle()}
            >
                Sign In With Google
            </button>
            <button 
                class="btn btn-"
                id="signout" 
                onclick={signOut()}
                style="display: none; visibility: hidden;"
            >
                Sign Out
            </button>
      <script>
        function signInWithGoogle(){
            var googleAuthProvider = new firebase.auth.GoogleAuthProvider
            
            firebase.auth().signInWithPopup(googleAuthProvider)
                .then( function(data) {
                    console.log(data)
                    // var photoURL = data.additionalUserInfo.profile.picture
                    
                    // var idToken = data.credential.idToken
                    
                    // document.getElementById('google-pic')
                            // .setAttribute('src', photoURL)
                            
                    // checkIfLoggedIn()
                })
                .catch( function(error) {
                    console.log(error)
                    // checkIfLoggedIn()
                })
        }
      </script>
    </div>
  </body>
</html>
